<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Robotics</title>
    <link rel="icon" type="image/x-icon" href="../../assets/img/fav-robot.ico">
    <link rel="stylesheet" href="../../assets/css/styles_index.css">
</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="left">
            <img src="../../assets/img/logo.png" alt="Logo" />
        </div>

        <div class="center">
            <h1>Título de la Organización</h1>
        </div>

        <div class="right">
            <div class="dropdown registro">
                <button class="dropbtn registro-btn">Registro</button>
                <div class="dropdown-content">
                    <a href="../../views/register/registro.php">Registrar asistente</a>
                </div>
            </div>

            <div class="dropdown inicio">
                <button class="dropbtn inicio-btn">Iniciar sesión</button>
                <div class="dropdown-content">
                    <a href="../../views/login/inicioSesion_entrenador.php">Entrenador</a>
                    <a href="../../views/login/inicioSesion_juez.php">Juez</a>
                    <a href="../../views/login/inicioSesion_organizador.php">Organizador</a>
                </div>
            </div>
        </div>
    </header>

    <!-- BODY -->
    <section class="hero">
        <div class="hero-text">
            <h2>Bienvenido a la Competencia de Robótica</h2>
            <p>Conecta con los mejores equipos, entrena y participa en los desafíos de innovación tecnológica más emocionantes.</p>
            <div class="hero-buttons">
                <button class="btn-primary">Ver más</button>
                <button class="btn-secondary">Demostraciones</button>
            </div>
        </div>

        <div class="hero-image">
            <img src="../../assets/img/robot.jpeg" alt="Robot" />
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div>
            <h3>Legal</h3>
            <ul>
                <li>Aviso legal</li>
                <li>Política de privacidad</li>
                <li>Política de cookies</li>
            </ul>
        </div>

        <div>
            <h3>Redes</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>YouTube</li>
                <li>LinkedIn</li>
            </ul>
        </div>

        <div>
            <h3>Información</h3>
            <ul>
                <li>Blog</li>
                <li>Contacto</li>
                <li>FAQs</li>
            </ul>
        </div>
    </footer>

</body>
</html>
